[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "*"
argparse = "*"
pyyaml = "*"

[dev-packages]
pytest = "*"
pytest-mock = "*"
coverage = "*"

[requires]
python_version = "3"

[scripts]
test = "coverage run -m pytest"