version: '3.8'
services:
  jenkins:
    image: opensearchstaging/jenkins:latest
    privileged: true
    tty: true
    user: root
    ports:
      - 8080:8080
      - 50000:50000
    container_name: jenkins
    environment:
      - JENKINS_JAVA_OPTS="-Djenkins.install.runSetupWizard=false -Xms8g -Xmx8g"
    volumes:
      - /var/lib/jenkins:/var/jenkins_home
    deploy:
      resources:
        limits:
          cpus: '4'
          memory: 10000M
        reservations:
          cpus: '4'
          memory: 10000M
    logging:
      driver: awslogs
      options:
        awslogs-group: JenkinsMainNode/jenkins.log
        awslogs-stream: jenkins.log
        awslogs-create-group: 'true'
        awslogs-datetime-format: '%Y-%m-%d %H:%M:%S.%f%z'