version: '3.8'
services:
  jenkins:
    image: opensearchstaging/jenkins:2.332.3-lts-jdk8
    restart: on-failure
    privileged: true
    tty: true
    user: root
    ports:
      - 8080:8080
      - 50000:50000
    container_name: jenkins
    environment:
      - JENKINS_JAVA_OPTS="-Xmx60g"
      - CASC_RELOAD_TOKEN=reloadPasswordHere
    volumes:
      - /var/lib/jenkins:/var/jenkins_home
    deploy:
      resources:
        limits:
          cpus: '30'
          memory: '63g'
        reservations:
          cpus: '30'
          memory: '63g'
    logging:
      driver: awslogs
      options:
        awslogs-group: JenkinsMainNode/jenkins.log
        awslogs-create-group: 'true'
        awslogs-datetime-format: '%Y-%m-%d %H:%M:%S.%f%z'
